<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="map" class="com.beans.MotorProperties">
		<property name="motorId" value="101" />
		<property name="motorType" value="Electric" />
	</bean>

	<bean id="tp" class="com.beans.ToyProperties">
		<property name="toyId" value="1001"></property>
		<property name="toyBrand" value="Toyota"></property>
		<property name="mp" ref="map"></property>

	</bean>

</beans>